.welcome-page {
    display: flex;
    height: 100vh;
}

.left-side {
    background-color:#a0d2eb;
    flex: 1.7;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Georgia, serif;
 
      
     
    
}
.left-side h1{
    position: relative;
    text-transform: uppercase;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, #000, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 5s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
    font-weight: bold;
}
@keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
  }
.right-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Georgia, serif;
    gap: 10px;
    background-color: #FAF9F6
    ;

}

.Signupbutton, .Loginbutton {
    width: 300px !important
}

.Signuptext, .Logintext {
    text-decoration: none;
    color: #ffffff;
}

@media screen and (max-width: 992px) {
    .welcome-page {
        flex-direction: column;
    }
    .left-side {
        width: 100%;
        height: 50%;
        flex: 1;
        font-size: 15px;
        text-align: center;
    }
    .right-side {
        width: 100%;
        height: 50%;
        padding-right: 0;
        align-items: center;
    }
    .Signupbutton, .Loginbutton {
        width: 200px;
    }
}
